body{
	background: linear-gradient(-45deg, #35577d, #141e30);
	margin: 0;
	padding: 0;
}
h1{
	color: #fff;
	font-size: 2em;
	padding-top: 100px;
	width: 100%;
	text-align: center;
}

h2{
	color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	font-weight: 100;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 30px;
	text-align: left;
	width: 80%;
	font-weight: bold;
	font-family: Georgia;
}
p{
	color: aliceblue;
	line-height: 1.3em;
	text-align: left;
	width: 100%;
	font-family: Helvetica;
	font-size: 18px;
}

.byline{
	font-family: Helvetica;
	color: rgba(255, 255, 255, 0.5);
	float: left;
	font-size: 14px;
	padding-left: 10px;
	text-transform: uppercase;
}
.caption{
	display: block;
	font-family: serif;
	font-size: 14px;
	font-style: italic;
	line-height: 14px;
	margin-left: 10px;
	padding: 10px;
	position: relative;
	top: 80%;
	width: 15%;
	color: #fff;
	background: black;
	opacity: 0.75;
}

.content{
	padding: 40px;
}

.image{
	background-image: url("../image/taxi.jpg");
	background-size: cover;
	background-position: center;
	height: 300px;
}

.img{
	float: left;
	width: 50px;
}